<head>
  <script src="../js/data.js"></script>
  <!--<script src="../debug/after.js"></script> -->
  <script src="../js/netcat.js"></script>
  <script src="../lib/vue/dist/vue.js"/></script>
  
  <link rel="stylesheet" href="../lib/skyblue/css/skyblue.css">
  <link rel="stylesheet" href="../css/base.css">
</head>

<body>
  <h1>Meow !</h1>

  <div id="io">
    <h3>Output</h3>
    <textarea class="form-control" style="height:50%; width:100%;" v-model="output"></textarea>
    
    <br>
    
    <h3>Input</h3>
    <input class="form-control" type="text" id="input_text" v-model="input" v-on:keyup.enter="submit"/>

    <br>

    <a class="btn btn-light" style="width:100%;" v-on:click=close()>Close</a>
  </div>

  <script src="../js/after.js"></script>
</body>
