<head>
  <script src="../js/data.js"></script>
  <!-- <script src="../debug/before.js"></script> -->
  <script src="../lib/vue/dist/vue.js"/></script>
  
  <link rel="stylesheet" href="../lib/skyblue/css/skyblue.css">
  <link rel="stylesheet" href="../css/base.css">
</head>

<body>
  <h1>Welcome to Nyanko</h1>
  
  <h3>Server or Client</h3>
  <p>Choose nyanko mode.</p>
  
  <div id="mode">
    <label class="fancy-radio">
    <input type="radio" name="mode" value="server" v-model="picked">
    <span>Server Mode</span>
    </label>
    
    <label class="fancy-radio"/>
    <input type="radio" name="mode" value="client" v-model="picked">
    <span>Client Mode</span>
    </label>
  </div>

  <br>

  <h3>UDP or TCP</h3>
  <p>Choose transport layer protocol that you want to use.</p>
  
  <div id="protocol">
    <label class="fancy-radio">
    <input type="radio" name="protocol" value="udp" v-model="picked"/>
    <span>UDP</span>
    </label>

    <label class="fancy-radio">
    <input type="radio" name="protocol" value="tcp" v-model="picked"/>
    <span>TCP</span>
    </label>
  </div>

  <br>

  <h3>Host and Port</h3>
  <p>Enter target host and port.</p>

  <div id="network">
    <label>Host</label>
    <input class="form-control" type="text" v-model="address"/>
    <label>Port</label>
    <input class="form-control" type="text" v-model="port">
  </div>

  <br>
  
  <a class="btn btn-light" style="width:100%;" onclick="submit()">Meow</a>

  <script src="../js/before.js"></script>
</body>
  